[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "greport"]
	path = greport
	url = https://github.com/harrelfe/greport
[submodule "Hmisc"]
	path = Hmisc
	url = https://github.com/harrelfe/hmisc
[submodule "qreport"]
	path = qreport
	url = https://github.com/cran/qreport
[submodule "rms"]
	path = rms
	url = https://github.com/harrelfe/rms
[submodule "rmsb"]
	path = rmsb
	url = https://github.com/harrelfe/rmsb
